.section__container {
  max-width: $max-width;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: $text-dark;
  text-align: center;
}

.section__description {
  font-size: 1rem;
  font-weight: 500;
  color: $text-light;
  line-height: 1.5rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font-primary;
  color: $white;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
}
