.portfolio {
  background-color: $extra-light;
  overflow: hidden;
}

.portfolio__header {
  margin-bottom: 4rem;
  display: grid;
  gap: 2rem;

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);

    .section__header,
    .section__description {
      text-align: left;
    }
  }
}

.portfolio__content {
  display: grid;
  gap: 2rem;

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .portfolio__image {
    position: relative;
    isolation: isolate;

    @include respond(md) {
      grid-area: 1/2/2/3;
    }

    img {
      border-radius: 0.5rem;
    }

    .portfolio__image__content {
      position: absolute;
      top: 0;
      right: 2rem;
      transform: translateY(-50%);
      display: flex;
      background-color: $secondary-color;
      border-radius: 0.25rem;
      padding-block: 1.5rem;
      z-index: 1;

      div {
        padding-inline: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &:first-child {
          border-right: 1px solid $extra-light;
        }

        h4 {
          font-size: 2rem;
          font-weight: 700;
          color: $white;
        }

        p {
          font-size: 0.9rem;
          color: $extra-light;
        }
      }
    }
  }

  .portfolio__list {
    display: grid;
    gap: 2rem;

    li {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      span {
        width: 5rem;
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
        background-color: $secondary-color;
        border-radius: 0.25rem;
      }

      h4 {
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: 700;
        color: $text-dark;
      }

      .section__description {
        text-align: left;
      }
    }
  }
}
