* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: $font-primary;
}

img {
  display: flex;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
