// Font
$font-primary: "Montserrat", sans-serif;

// Colors
$primary-color: #ff8906;
$secondary-color: #e5306f;
$text-dark: #0e0d16;
$text-light: #767268;
$extra-light: #f7f8fd;
$white: #ffffff;

// Layout
$max-width: 1200px;
